<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Result</title>
    <link rel="stylesheet" href="/styles/gameStyles.css">
</head>
<body>
    <main>
        <h1>Game Statistics</h1>
        <p> Game number: <%= result.number %></p>
        <p> Name:  <%= result.name %></p>
        <p> Quantity:  <%= result.quantity %></p>
        <p> Genre:  <%= result.genre %></p>
        <p> Rating:  <%= result.rating %></p>
        <a href="/"><button>Home</button></a>
    </main>
</body>
</html>